/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

textarea,
body {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
}

/* COMMON */
/* Layout */
.container {
  margin: 0 auto;
  width: 70%; 
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  column-gap: 20px;
  flex-wrap: wrap;
}

.input {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 5px;
}

/* Header */
header {
  background-color: #ececec;
  padding: 20px;
  margin-bottom: 30px;
  font-size: 1.3rem;
}

/* Form */
label {
  font-size: 1.3rem;
  font-weight: bold;
}

textarea,
select,
input {
  width: 50%;
  padding: 5px;
  text-align: center;
  font-size: 1rem;
}

.post-tags input {
  margin-bottom: 15px;
}

textarea {
  resize: vertical;
}

/* Tags List */
.tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.inputTag {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.1rem;
}

.tags-list {
  display: flex; 
  flex-wrap: wrap; 
  gap: 5px; 
  padding-top: 15px;
}

/* Buttons */
.btn {
  color: #ffffff;
  border: 2px solid #000000;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.submit {
  background-color: #4747f7;
  width: 30%;
  padding: 10px 15px;
  border-radius: 24px;
  font-size: 1.3rem;
  margin: 40px 0;
  align-self: center;
}

/* Remove Button */
.remove {
  width: 45px;
  height: 45px;
  background-color: #ff0000;
  border-radius: 50%;
}

/* Button Hovers */
.btn.submit:hover {
  background-color: #3636d1; 
}

.btn.remove:hover {
  background-color: #d60000; 
}

/* Card */
.card {
  width: calc((100% - 20px) / 2);
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px 10px 5px 10px;
  margin-bottom: 20px;
}

/* Card Image */
.card-image img {
  width: 100%;
  border-radius: 6px;
}

/* Tag Customisation */
.tag {
  border-radius: 24px;
  padding: 6px 10px;
  font-weight: bold;
  border: 2px solid #000000;
}

.html {
  background-color: #e34c26;
  color: #ffffff;
}

.css {
  background-color: #2965f1;
  color: #ffffff;
}

.javascript {
  background-color: #f7df1e;
}

.express {
  background-color: #555555;
  color: #ffffff;
}

.node {
  background-color: #68a063;
}

.react {
  background-color: #61dafb;
}

/* Card Heading */
.card-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 0;
  margin-bottom: 10px;
}

/* Card Content */
.card-content {
  line-height: 1.5;
  margin-bottom: 20px;
  word-wrap: break-word;
}

/* Card Footer */
.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Empty Post List */
.empty-list {
  font-size: 1.2rem;
  font-style: italic;
}

span {
  font-style: italic;
}

.check {
  color: #008000;
}

.cross {
  color: #ff0000;
}